# Django and Deployment Essentials
Django==5.0.2
gunicorn
whitenoise
dj-database-url
psycopg2-binary
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-spectacular

# Project Dependencies
requests==2.31.0
Pillow==10.2.0
PyJWT==2.7.0
cryptography==41.0.7
bcrypt==3.2.2
